<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>7 Wonders</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/Cards_style.css">
    <style>
        h1{
            color:rgb(99, 155, 91);
            text-align:center;
            padding-top:10px;
            font-size:xx-large;
        }
    </style>
</head>
<body>
    <%- include("partials/header.ejs") %>
    <div class="main">
        <h1>Welcome</h1>
        <div class="root">
            <div class="addToPlayList">
                <h4>Add to PlayList</h3>
                <button id="close">x</button>
                <form id='create-playlist' action="/new_playlist" method="POST">
                    <input type="text" id="searchInput" name="search" placeholder="New Playlist name">
                    <input type="hidden" id="songIdInput" name="songId" value="">
                    <button type="submit" >Create</button>
                </form>
                <form id='create-playlist' action="/existing_playlist" method="POST">
                    <%if (locals.playLists){%>
                        <%if (playLists.length>0){%>
                            <%for(var i=0;i<playLists.length;i++){%>
                                <%console.log(playLists);%>
                                <input type="radio" class="playlist" name="playlistChosen" value="<%=playLists[i].name%>" checked>
                                <label for="playlist"><%=playLists[i].name%></label>
                            <%}%>
                        <%}%>
                        <input type="hidden" id="songIdInput2" name="songId" value="">
                    <%}%>
                        <button type="submit" >Add</button>
                </form>
            </div>
            <%var i=0;%>
            <%var flag=false;%>
            <% if (locals.musicList){ %>
                <% if (musicList.length>0){ %>
                <% musicList.forEach((music,index)=>{%>
                    
                    <div class="card" data-name="<%=music.id%>" data-src="<%=music.audio%>" onclick="playMusic('<%=music.id%>',this)">
                        <button class="add-to-playlist" onclick="showOverlay(this, event)">+</button>        
                        <%for(i=0;i<likedSongs.length;i++){%>
                        <%if (music.id==likedSongs[i].song_id){%>
                            <button id=<%=music.id%> class="likey"><img class="like" src='resources/icons/like_filled.png' onclick="do_like('<%=music.id%>',event)"></button>
                            <%flag=true;%>
                        <%}%>
                        <%}%>
                        <% if (!flag){%>
                            <button id=<%=music.id%> class="likey"><img class="like" src='resources/icons/like_outline.png' onclick="do_like('<%=music.id%>',event)"></button>
                            <%}%>
                        <%flag=false%>
                        <img class="avatar" src=<%=music.image%> alt="image_song" onload="imageLoaded(this)"/>
                        <h2><%=music.name%></h2>
                        <h4><%=music.artist_name%></h4>
                        <h4><%=music.album_name%></h4>
                    </div>
                <%});%>   
            <%}else{%>
                <p class="errorMessage">No tracks found</p>
                <%}%>
                <%}%>
        </div>
        <div class="likedSongs">
            <% if (locals.musicListLiked){ %>
                <% if (musicListLiked.length>0){ %>
                <h1>Liked Songs</h1>
                <div class="root">
                    <% musicListLiked.forEach((music,index)=>{%>
                        <%console.log(music);%>
                        <div class="card" data-name="<%=music.id%>" data-src="<%=music.track_url%>"  onclick="playMusic('<%=music.id%>',this)">
                            <img class="avatar" src=<%=music.image_url%> alt="image_song" onload="imageLoaded(this)"/>
                            <h2><%=music.name%></h2>
                            <h4><%=music.artist_name%></h4>
                            <h4><%=music.album_name%></h4>
                          </div>
                    <%});%>
                <%}else{%>
                    <h1>Liked Songs</h1>
                    <p class="errorMessage">No tracks found</p>
                    <%}%>
                </div>
                
                <%}%>
        </div>
    </div>
    <%- include("audio_player.ejs")%>
    <%- include("partials/footer.ejs") %>
</body>
<script src="js/audio_player.js"></script>
<script>
    var imagesToLoad = document.querySelectorAll('.avatar');
    var loadedCount = 0;
    var audio=document.getElementById("player");
    
    function imageLoaded(img) {
        loadedCount++;
        console.log(`Image loaded: ${img.src}`);
    
        if (loadedCount === imagesToLoad.length) {
            console.log('All images loaded!');
        }
    }
    
    imagesToLoad.forEach(img => {
        img.onload = () => imageLoaded(img);
    });

    function do_like(id,event){
        event.stopPropagation();
        console.log(id);
        var source=document.getElementById(id).querySelector("img");
        var data;
        if(source.src.includes('like_outline.png'))
        {
            source.src='resources/icons/like_filled.png';
            data = { liked:id };
        }
        else
        {
            source.src='resources/icons/like_outline.png';
            data = { disliked:id };
        }

        fetch('http://localhost:3000/like_update',{
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(result => {
                console.log('Success:', result);
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    function showOverlay(button,event) {
        event.stopPropagation();
        const card = button.closest('.card');
        const overlay = document.querySelector('.addToPlayList');
        
        const cardRect = card.getBoundingClientRect();
        const mainRect = document.querySelector('.root').getBoundingClientRect();
 
        overlay.style.top = `${cardRect.top - mainRect.top}px`;
        overlay.style.left = `${cardRect.left - mainRect.left+10}px`;
        console.log(cardRect.top );
        console.log(cardRect.left );
        console.log(mainRect.top);
        console.log(mainRect.left);
        document.getElementById("songIdInput").value=card.getAttribute('data-name');
        document.getElementById("songIdInput2").value=card.getAttribute('data-name');
        overlay.style.visibility="visible";
    }
    document.getElementById('close').addEventListener("click",()=>{
        document.querySelector(".addToPlayList").style.visibility="hidden";
    })
    

    </script>
</html>